<div class="w-72 flex-shrink-0 bg-gray-100 rounded-md p-2 mr-3 flex flex-col max-h-full" id="<%= dom_id(list) %>">

  <div class="flex justify-between items-center mb-2 handle cursor-grab">
    <h3 class="font-bold text-gray-700 pl-2"><%= list.name %></h3>
    <div class="relative">
       </div>
  </div>

  <div id="list_<%= list.id %>_cards"
        class="flex-1 overflow-y-auto min-h-[50px] space-y-2"
        data-controller="drag"
        data-drag-url-value="/cards/:id/move"
        data-list-id="<%= list.id %>">

      <% list.cards.order(:position).each do |card| %>
        <%= render card %>
    <% end %>

  </div>

  <div class="mt-2">
    <%= turbo_frame_tag "list_#{list.id}_new_card" do %>
      <%= link_to "Add a card", new_list_card_path(list), class: "block p-2 text-gray-500 hover:bg-gray-200 rounded text-sm" %>
    <% end %>
  </div>

</div>
