<%# 1. Append the new card to the correct list container %>
<%= turbo_stream.append "#{dom_id(@list)}_cards" do %>
  <div
    class="bg-white p-3 rounded shadow-sm cursor-move hover:bg-gray-50 mb-2"
    data-id="<%= @card.id %>"
  >
    <h4 class="text-sm font-medium text-gray-800"><%= @card.title %></h4>
  </div>
<% end %>

<%# 2. Reset the form so the user can type another card immediately %>
<%= turbo_stream.replace "#{dom_id(@list)}_new_card_form" do %>
  <%# We are just re-rendering the list footer partial effectively clearing the input %>
   <%= render partial: "lists/form", locals: { list: @list } %>
<% end %>
